html {
  margin-right: 50px; 
  margin-left: 50px;  /* didn't find use for this here */
}

body {
  font-family: georgia, arial;
  color: #a9d6e5;
  background-color: #012a4a;
  text-align:center;
}

/*throughout the css I'm trying different things to make things look to my liking. Not perfect and I'm sure not efficient.*/

p {
  font-size: 15px;
  letter-spacing: 1px;   
  word-spacing: 1px;
  line-height:1.8;
}

.pad {
  padding: 2px 50px 10px 50px;
}

h2 {
  padding-top: 15px;
}
h3 {
  padding-bottom: 3px;
}
ul {
  padding:2px 15px 0px 15px;
  list-style-position: inside;
  text-align:center;
  line-height:1.8;
}

ol {
  padding:2px 40px 0px 40px;
  list-style-position: inside;
  text-align:center;
  line-height:1.8;
}

a:link    { color: #f3722c;  }
a:visited { color: #a9d6e5;   }
a:hover   { color: white; }
a:active  { color: #a9d6e5;  }

header {
  background-color: #014f86;
}

/* tried a lot to get the background for the footer to cover the entire bottom of the page. Couldn't figure it out */

 footer {
  background-color: #014f86;
  margin-bottom: 0px;
  padding: 2px 50px 18px 50px;
}

img {
padding-top: 70px;
padding-bottom: 5px;
}

.sections {
  padding: 3px 20px 2px 20px;
}

/* I just realized that the image of the page im getting in replit is different from what the page would look like if I open it in a new tab. I guess the image in replit is the accurate one. So I went back and touched up on things to make it look normal and better than when I first submitted it. */
